.contact-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    .text-container {
        width: 75%;
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
            width: 100%;
            text-align: left;
            margin-bottom: 0.25rem;
        }
    }

    p {
        margin: 0;
    }

    figure {
        width: 25%;
        margin-right: 1rem;

        &.right {
            margin-left: 1rem; 
            margin-right: 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            max-width: 100%;
            border-radius: 100px;
        }
    }
}