#lightboxBackdrop  {
    font-family: _font(family);
    font-weight: _font(weight);

    div, figcaption {
        color: _palette(fg);
    }

    button {
        box-shadow: none;
        line-height: 1.7rem;
    }

    svg {
        fill: _palette(fg);
    }
}