.production {
    padding: 1rem;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;

    h3 {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h4 {
        margin-bottom: 0;
    }

    p {
        margin: 0.5rem 0 0.5rem 0;
    }
}

.production-info {
    padding: 0.5rem;
}