///
/// Dimension by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Wrapper */

	#wrapper {
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'space-between');
		position: relative;
		min-height: 100vh;
		width: 100%;
		padding: 0rem 2rem;
		z-index: 3;

		&:before {
			content: '';
			display: block;
		}

		@include breakpoint(xlarge) {
			padding: 0rem 2rem;
		}

		@include breakpoint(small) {
			padding: 0rem 1rem;
		}

		@include breakpoint(xsmall) {
			padding: 0rem 0.25rem;
		}

		&.page {
			@include vendor('justify-content', 'flex-start');
		}
	}